%ul.row
  %li.score.small-2.columns= "Strength Modifier: #{modifier[0]}"
  %li.score.small-2.columns= "Dexterity Modifier: #{modifier[1]}"
  %li.score.small-2.columns= "Constitution Modifier: #{modifier[2]}"
  %li.score.small-2.columns= "Intelligence Modifier: #{modifier[3]}"
  %li.score.small-2.columns= "Wisdom Modifier: #{modifier[4]}"
  %li.score.small-2.columns= "Charisma Modifier: #{modifier[5]}"