!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    :javascript
      WebFontConfig = {
        google: { families: [ 'Open+Sans::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

    :javascript
      WebFontConfig = {
          google: { families: [ 'Merriweather::latin' ] }
        };
        (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();

    = csrf_meta_tags
    %body
      .contain-to-grid
        %nav.top-bar{"data-topbar" => "", :role => "navigation"}
          %ul.title-area
            %li.name
              %h1
                =link_to "/" do
                  =image_tag "logo_white.png", :class => "logo"
            %li.toggle-topbar.menu-icon
              %a{:href => "#"}
                %span Menu
          %section.top-bar-section
            %ul.right
              -if user_signed_in?
                %li
                  =link_to "Welcome back, #{current_user.name}!"
                %li
                  =link_to "Dashboard", user_path(current_user)
                %li
                  =link_to "Sign Out", destroy_user_session_path, method: :delete
              -else
                %li
                  =link_to "Sign Up", new_user_registration_path
                %li
                  =link_to "Sign In", new_user_session_path

    - if notice.present?
      .alert-box.success{ "data-alert" => "" }
        = notice
        %a.close{ href: "#" } &times;
    - if alert.present?
      .alert-box.alert{ "data-alert" => "" }
        = alert
        %a.close{ href: "#" } &times;

    = yield
    = javascript_include_tag "application"